<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Todas as Séries</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Todas as Séries</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Melhores da Semana</h5>
                </div>                
            </div>
        </div>
    </div>
</div>
</div>