<style>
    .box-serie {
        border: 0px;
        padding: 30px;
        border-radius: 5px;
    }

    .box-serie .click-serie {
        cursor: pointer;
    }

    .box-serie .title {
        font-size: 22px;
    }

    .box-serie .desc {
        font-size: 15px;
        font-style: italic;
        font-weight: normal;
    }

    .box-serie .text {
        font-size: 15px;
        font-weight: normal;
    }

    .box-serie .note {
        font-size: 22px;
        background-color: #ccc;
        color: #333;
        padding: 15px;
        border-radius: 8px;
        font-weight: bold;
        width: 65px;
        text-align: center;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalhes da Série</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong></strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content" style="padding-bottom: 0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Informaçõs Básicas</h5>
                </div>
                <div class="ibox-content">
                    <div class="box-serie">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{{serie.detalhes.imagemCapa}}" class="click-serie" style="width: 100%;min-height: 350px;border-radius: 4px;" />
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#/detalhe/{{serie.detalhes._id}}" class="title click-serie">{{serie.detalhes.titulo}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="desc">{{serie.detalhes.descricao}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="text" style="font-weight: bold;">{{serie.detalhes.qtdTemporadas}} temporadas - {{serie.detalhes.genero.nome}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="note">{{serie.detalhes.notaGeral}}</label>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 20px;">
                                    <div class="col-md-12">
                                        <label class="desc">Elenco</label>
                                    </div>
                                    <div class="col-md-12">
                                        <label ng-repeat="ator in serie.atores" class="desc" style="display: inline-block;font-size: 13px;">{{ator.personagem}} ({{ator.nome}})&nbsp;&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="text-align: center">
        <button class="btn btn-lg btn-primary" style="margin: 10px;">Deixe seu comentário...</button>
    </div>
</div>
<div class="wrapper wrapper-content" style="padding-top: 0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Comentários</h5>
                    <div class="ibox-tools">
                        <span class="label label-default-light pull-right">2 comentários</span>
                    </div>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="feed-activity-list">

                            <div class="feed-element">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="http://smubusiness.com/imagesOuter/pic/Nophoto.jpg">
                                </a>
                                <div class="media-body ">
                                    <strong>Monica Smith</strong> posted a new blog.
                                    <br>
                                    <small class="text-muted">Today 5:60 pm - 12.06.2014</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>